<% include ../Metadata/header %>
<div class="ui segment">
		<table class="ui red table">
			<thead>
				<tr>
					<th>Sr No.</th>
					<th>Full Name</th>
					<th>Date</th>
					<th>Attendance</th>
				</tr>
			</thead>
			<tbody>
			<% var i=1; var present=0;%>
			<% user.status.forEach(function(att){%>
						<%if(att.state=='P'){%>
							<%present+=1;}%>
					<tr>
						<td>
							<label><%=i%> </label>
						</td>
						<td >
							<div class="ui transparent input">
								<input type="text" name="user[name]" value="<%=formatTitle.capWords(user.name);%>" readonly="true">
							</div>
						</td>
						<td >
							<div class="ui transparent input">
								<input type="text" name="user[username]" value="<%=moment(att.date).format('Do MMM YY, H:mm:ss')%>" readonly="true">
							</div>
						</td>
						
						<td>
							<div class="ui transparent input">
								<input type="text" name="user[staus]" value="<%=att.state%>" readonly="true">
							</div>
						</td>
					</tr>
					<%i+=1;%>
			<%});%>
				<tr>
					<td><strong>Summary</strong></td>
					<td><strong> Total:-<%=i-1%></strong></td>
					<td><strong>Attended:-<%=present%></strong></td>
					<td><strong><%=parseInt(present*100/(i-1))%></strong> %</td>
				</tr>
			</tbody>
		</table>
	</div>
<% include ../Metadata/footer %>